section{
    width: 100wh;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    background: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
  }
  
  .question-section {
    margin-bottom: 20px;
  }
  
  .question-label {
    position: relative;
    font-size: 16px;
    font-weight:900;
    margin-bottom: 8px;
    display: block;
  }
  
  .question-label i {
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .question-label i:hover
  {
    color: var(--error-color);

  }
  .question-input-wrapper {
    position: relative;
  }
  
  .question-input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .grammar-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: contain;
  }
  
  .choices-section {
    margin-bottom: 20px;
  }
  
  .choices-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .choice-item {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
  }
  
  .choice-label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .choice-input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .add-choice-btn, .form-submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .form-submit-btn {
    margin-top: 2rem;
  }
  
  .add-choice-btn:hover:hover, .form-submit-btn:hover {
    background:var(--background-color);
    transition: var(--transition);
  }
  
  .correct-answer-section {
    margin-top: 20px;
  }
  
  .answer-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
  .answer-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  input{
    background: var(--background-color);
    border: 1px solid #000;
  }
  input:not(:placeholder-shown) {
      border: 2px solid var(--primary-color);
      color: var(--text-color);

  }
  
  input:hover{
    border: 2px solid var(--primary-color);
  }