p{
    color: var(--text-color);
}

section {
    background: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
}

.quiz__container{
    width: 100%;
}
/*========================= QUIZ HEADER ============================*/
.quiz__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.questions__container {
    background: #000;
    display: flex;
    justify-content: center;
}
.questions__container div{
   
    width: var(--form-width);
}
*
.questions__container-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.number {
   height: 45px;
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
    background: red;
}